<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}" *ngIf ="sensorDetails">
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/home_1.ico">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Address</p>
        <span class="text-16 font-weight-bold text-green">{{sensorDetails.location_no}} <span style="padding-left: 30px;"></span><img src="assets/images/greendot.png"></span>
      </div>
    </mat-card>                                    
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-icon class="text-orange">attach_money</mat-icon>
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Balance</p>
        <span class="text-16 font-weight-bold text-red">Rs.{{sensorDetails.balance_amt}} <span style="padding-left: 30px;"></span><img src="assets/images/reddot.png"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/graph-icon.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Grid Reading</p>
        <span class="text-16 font-weight-bold text-green">{{sensorDetails.unit_grid_closing}} <span style="padding-left: 30px;"></span><img src="assets/images/up-green.png" width="10"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/dg.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">DG Reading</p>
        <span class="text-16 font-weight-bold text-red">{{sensorDetails.unit_dg_closing}} <span style="padding-left: 30px;"></span><img src="assets/images/Down_red_arrow.png" width="10"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/cryptocurrencies/CNX.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Source</p>
        <span class="text-16 font-weight-bold text-green"> Grid <span style="padding-left: 30px;"></span><img src="assets/images/greendot.png"></span>
      </div>
    </mat-card>
  </div>
</div>

<mat-card class="p-0" [@animate]="{ value: '*', params: { scale: '.9', delay: '200ms' } }" *ngIf ="sensorDetails">
  <div fxLayout="row wrap">
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-blue">person</mat-icon>
              <h4 class="m-0" style="font-weight: bold;">Name</h4>
              <small class="m-0 text-muted">{{sensorDetails.consumer_name}}</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-orange">comment</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Type</h4>
              <small class="m-0 text-muted">{{sensorDetails.sub_type}}</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-green">show_chart</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Reading Time Grid</h4>
              <small class="m-0 text-muted">{{sensorDetails.last_reading_updated_grid | date:'shortTime'}}</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-red">show_chart</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Reading Time DG</h4>
              <small class="m-0 text-muted">{{sensorDetails.last_reading_updated_dg | date:'shortTime'}}	</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1">
              <mat-icon class="text-orange">compare_arrows</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Reading Recieved (Ago)</h4>
              <small class="m-0 text-muted">{{sensorDetails.last_reading_updated | date:'shortTime'}}</small>
          </div>
      </div>
  </div>
</mat-card>

<div fxLayout="row wrap" *ngIf ="sensorDetails">
  <div fxFlex="100" fxFlex.gt-sm="66.67" fxFlex.sm="50" 
  [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
  <mat-card>
    <mat-tab-group  fxFlex="100">
      <mat-tab label="Daily Consumption" style = "color:rgb(89, 177, 250);" style="width: 100%"  fxFlex="100">
    <div echarts [options]="cryptoChart" [autoResize]="true" style="height: 370px;"></div>
  </mat-tab>
  <mat-tab label="Monthly Consumption">
    <span fxflex>
      <highcharts-chart
        [Highcharts] = "highcharts" 
        (chartInit)="dailyInit($event)"

        [options] = "linechartOptions" 
        style = "height: 295px; width: 700px; display: inline-flex;">
      </highcharts-chart></span>
    </mat-tab>
    <!--<mat-tab label="Hourly Consumption">
      <highcharts-chart
                  [Highcharts] = "highcharts" 
                  [options] = "linechartOptions"  [callbackFunction]="dgGridcomsumption"
                   [(update)]="dgFuelGridupdateFlag"
                  [oneToOne]="true"  
                  style="width: 1200px; height: 370px; display: block;">
                </highcharts-chart> 
      </mat-tab>-->
    </mat-tab-group>
  </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
    <div class="m-333">
        <mat-accordion multi="false">
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CAM
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>CAM Charges</span>
                      <span fxFlex></span>
                      <span>{{sensorDetails.CAM_charges}}</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small><span *ngIf ="sensorDetails.CAM_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.CAM_deduction_day != 99">{{sensorDetails.CAM_deduction_day}}</span>(<span *ngIf ="sensorDetails.CAM_deduction_hour >= 12" >{{sensorDetails.CAM_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.CAM_deduction_hour < 12" >{{sensorDetails.CAM_deduction_hour}} AM</span>)  change</small>
                    </div>
              </div>
          
              
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CS
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>CS Charges</span>
                      <span fxFlex></span>
                      <span>{{sensorDetails.CS_charges}}</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small><span *ngIf ="sensorDetails.CS_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.CS_deduction_day != 99">{{sensorDetails.CS_deduction_day}}</span>(<span *ngIf ="sensorDetails.CS_deduction_hour >= 12" >{{sensorDetails.CS_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.CS_deduction_hour < 12" >{{sensorDetails.CS_deduction_hour}} AM</span>)  change</small>
                      <span fxFlex></span>
                    </div>
              </div>
            
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    MMC
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>Grid MMC Charges</span>
                        <span fxFlex></span>
                        <span>{{sensorDetails.grid_mmc_charges}}</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small><span *ngIf ="sensorDetails.mmc_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.mmc_deduction_day != 99">{{sensorDetails.mmc_deduction_day}}</span>(<span *ngIf ="sensorDetails.mmc_deduction_hour >= 12" >{{sensorDetails.mmc_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.mmc_deduction_hour < 12" >{{sensorDetails.mmc_deduction_hour}} AM</span>)  change</small>
                        <span fxFlex></span>
                      </div>
                </div>
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>DG MMC Charges</span>
                        <span fxFlex></span>
                        <span>{{sensorDetails.dg_mmc_charges}}</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small><span *ngIf ="sensorDetails.mmc_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.mmc_deduction_day != 99">{{sensorDetails.mmc_deduction_day}}</span>(<span *ngIf ="sensorDetails.mmc_deduction_hour >= 12" >{{sensorDetails.mmc_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.mmc_deduction_hour < 12" >{{sensorDetails.mmc_deduction_hour}} AM</span>)  change</small>
                        <span fxFlex></span>
                      </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fixed
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>Grid Fixed Charges</span>
                        <span fxFlex></span>
                        <span>{{sensorDetails.grid_fixed_charges}}</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small><span *ngIf ="sensorDetails.fixed_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.fixed_deduction_day != 99">{{sensorDetails.fixed_deduction_day}}</span>(<span *ngIf ="sensorDetails.fixed_deduction_hour >= 12" >{{sensorDetails.fixed_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.fixed_deduction_hour < 12" >{{sensorDetails.fixed_deduction_hour}} AM</span>)  change</small>
                        <span fxFlex></span>
                      </div>
                </div>
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>DG Fixed Charges</span>
                        <span fxFlex></span>
                        <span>{{sensorDetails.dg_fixed_charges}}</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small><span *ngIf ="sensorDetails.fixed_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.fixed_deduction_day != 99">{{sensorDetails.fixed_deduction_day}}</span>(<span *ngIf ="sensorDetails.fixed_deduction_hour >= 12" >{{sensorDetails.fixed_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.fixed_deduction_hour < 12" >{{sensorDetails.fixed_deduction_hour}} AM</span>)  change</small>
                        <span fxFlex></span>
                      </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Other
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>Other Charges</span>
                        <span fxFlex></span>
                        <span>{{sensorDetails.other_charges}}</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small><span *ngIf ="sensorDetails.other_deduction_day == 99">Daily</span><span *ngIf ="sensorDetails.other_deduction_day != 99">{{sensorDetails.other_deduction_day}}</span>(<span *ngIf ="sensorDetails.other_deduction_hour >= 12" >{{sensorDetails.other_deduction_hour -12}} PM </span> <span *ngIf ="sensorDetails.other_deduction_hour < 12" >{{sensorDetails.other_deduction_hour}} AM</span>)  change</small>
                        <span fxFlex></span>
                      </div>
                </div>
                
              </mat-expansion-panel>
          </mat-accordion>
    </div>
 
    <!-- <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <h6 class="m-0">Balance </h6>
          </div>
        <div echarts [options]="cryptoDonutChart" [autoResize]="true" style="height: 318px;"></div>
    </mat-card> -->
  </div>
</div>

<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}" >
  <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" >
    <mat-card class="p-0 ">
      <h4 class="pl-1 pt-1 m-0 " style="font-weight: bold;">Applicable Load</h4>
      <div
        echarts
        [options]="trafficSourcesChart"
        (chartInit)="applicationLoad($event)"

        [autoResize]="true"
        style="height: 225px;"
      ></div>
    </mat-card>
  </div>
    <div fxFlex="100" fxFlex.gt-sm="37" fxFlex.sm="50">
      <mat-card class="p-0 ">
        <h4 class="pl-1 pt-1 m-0 " style="font-weight: bold;">Alert Details</h4>
        <ngx-datatable
        class="material ml-0 mr-0"
        [rows]="activeTrades"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        >
        
        <ngx-datatable-column name="Details" [flexGrow]="3">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <img [src]="row.icon" alt="" class="avatar-xs mr-05">
                {{ row?.details }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Value" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row?.value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>    
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
    <mat-card class="p-0 default">
      <p class="text-black ml-1 mt-1" style="font-weight: bold;">Monthly Bill Status</p>
      <div
        echarts
        [options]="monthlyTrafficChartBar"
        (chartInit)="monthlyBillInit($event)"

        [autoResize]="true"
        style="height: 210px;"
      ></div>
    </mat-card>
  </div>
   

</div>
 