<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}">
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/home_1.ico">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Address</p>
        <span class="text-16 font-weight-bold text-green">25 GF <span style="padding-left: 30px;"></span><img src="assets/images/greendot.png"></span>
      </div>
    </mat-card>                                    
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-icon class="text-orange">attach_money</mat-icon>
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Balance</p>
        <span class="text-16 font-weight-bold text-red">Rs.64 <span style="padding-left: 30px;"></span><img src="assets/images/reddot.png"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/graph-icon.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Grid Reading</p>
        <span class="text-16 font-weight-bold text-green">5438.67 <span style="padding-left: 30px;"></span><img src="assets/images/up-green.png" width="10"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/dg.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">DG Reading</p>
        <span class="text-16 font-weight-bold text-red">330.46 <span style="padding-left: 30px;"></span><img src="assets/images/Down_red_arrow.png" width="10"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/cryptocurrencies/CNX.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Source</p>
        <span class="text-16 font-weight-bold text-green"> Grid <span style="padding-left: 30px;"></span><img src="assets/images/greendot.png"></span>
      </div>
    </mat-card>
  </div>
</div>

<mat-card class="p-0" [@animate]="{ value: '*', params: { scale: '.9', delay: '200ms' } }">
  <div fxLayout="row wrap">
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-blue">person</mat-icon>
              <h4 class="m-0" style="font-weight: bold;">Name</h4>
              <small class="m-0 text-muted">MR.D.K.SINGH</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-orange">comment</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Type</h4>
              <small class="m-0 text-muted">Probe</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-green">show_chart</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Reading Time Grid</h4>
              <small class="m-0 text-muted">1 hrs 50 secs</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
            <mat-icon class="text-red">show_chart</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Reading Time DG</h4>
              <small class="m-0 text-muted">12 mins 15 secs	</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1">
              <mat-icon class="text-orange">compare_arrows</mat-icon>
              <h4 class="m-0 " style="font-weight: bold;">Reading Recieved (Ago)</h4>
              <small class="m-0 text-muted">12 mins 14 secs</small>
          </div>
      </div>
  </div>
</mat-card>

<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="66.67" fxFlex.sm="50" 
  [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
  <mat-card>
    <mat-tab-group  fxFlex="100">
      <mat-tab label="Daily Consumption" style = "color:rgb(89, 177, 250);" style="width: 100%"  fxFlex="100">
    <div echarts [options]="cryptoChart" [autoResize]="true" style="height: 370px;"></div>
  </mat-tab>
  <mat-tab label="Monthly Consumption">
    <span fxflex>
      <highcharts-chart
        [Highcharts] = "highcharts" 
        [options] = "linechartOptions" 
        style = "height: 295px; width: 700px; display: inline-flex;">
      </highcharts-chart></span>
    </mat-tab>
    <!--<mat-tab label="Hourly Consumption">
      <highcharts-chart
                  [Highcharts] = "highcharts" 
                  [options] = "linechartOptions"  [callbackFunction]="dgGridcomsumption"
                   [(update)]="dgFuelGridupdateFlag"
                  [oneToOne]="true"  
                  style="width: 1200px; height: 370px; display: block;">
                </highcharts-chart> 
      </mat-tab>-->
    </mat-tab-group>
  </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
    <div class="m-333">
        <mat-accordion multi="false">
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CAM
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>CAM Charges</span>
                      <span fxFlex></span>
                      <span>666.45</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>11:00 AM change</small>
                    </div>
              </div>
              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>CAM ST Charges</span>
                      <span fxFlex></span>
                      <span>3829.23</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>11:30 AM change</small>
                      <span fxFlex></span>
                    </div>
              </div>
              
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CS
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>CS Charges</span>
                      <span fxFlex></span>
                      <span>8897.45</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>10:00 AM change</small>
                      <span fxFlex></span>
                    </div>
              </div>
              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>CS ST Charges</span>
                      <span fxFlex></span>
                      <span>3829.23</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>10:20 AM change</small>
                      <span fxFlex></span>
                    </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    MMC
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>Grid MMC Charges</span>
                        <span fxFlex></span>
                        <span>8897.45</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>11:00 AM change</small>
                        <span fxFlex></span>
                      </div>
                </div>
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>DG MMC Charges</span>
                        <span fxFlex></span>
                        <span>3829.23</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>11:30 AM change</small>
                        <span fxFlex></span>
                      </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fixed
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>Grid Fixed Charges</span>
                        <span fxFlex></span>
                        <span>8897.45</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>12:30 AM change</small>
                        <span fxFlex></span>
                      </div>
                </div>
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>DG Fixed Charges</span>
                        <span fxFlex></span>
                        <span>3829.23</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>09:00 AM change</small>
                        <span fxFlex></span>
                      </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Other
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="border-bottom pb-1 mb-1">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                        <span>Other Charges</span>
                        <span fxFlex></span>
                        <span>8897.45</span>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>12:00 AM change</small>
                        <span fxFlex></span>
                      </div>
                </div>
                
              </mat-expansion-panel>
          </mat-accordion>
    </div>
 
    <!-- <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <h6 class="m-0">Balance </h6>
          </div>
        <div echarts [options]="cryptoDonutChart" [autoResize]="true" style="height: 318px;"></div>
    </mat-card> -->
  </div>
</div>

<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}">
  <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" >
    <mat-card class="p-0 ">
      <h4 class="pl-1 pt-1 m-0 " style="font-weight: bold;">Applicable Load</h4>
      <div
        echarts
        [options]="trafficSourcesChart"
        [autoResize]="true"
        style="height: 225px;"
      ></div>
    </mat-card>
  </div>
    <div fxFlex="100" fxFlex.gt-sm="37" fxFlex.sm="50">
      <mat-card class="p-0 ">
        <h4 class="pl-1 pt-1 m-0 " style="font-weight: bold;">Alert Details</h4>
        <ngx-datatable
        class="material ml-0 mr-0"
        [rows]="activeTrades"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        >
        
        <ngx-datatable-column name="Details" [flexGrow]="3">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <img [src]="row.icon" alt="" class="avatar-xs mr-05">
                {{ row?.details }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Value" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row?.value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>    
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
    <mat-card class="p-0 default">
      <p class="text-black ml-1 mt-1" style="font-weight: bold;">Monthly Bill Status</p>
      <div
        echarts
        [options]="monthlyTrafficChartBar"
        [autoResize]="true"
        style="height: 210px;"
      ></div>
    </mat-card>
  </div>
    <!--<mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/cryptocurrencies/BTC.png">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Slab(Area)</p>
        <span class="text-16 font-weight-bold text-green">Master(12)</span>
      </div>
    </mat-card>                                    
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/cryptocurrencies/ETH.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">DG Load</p>
        <span class="text-16 font-weight-bold text-red">5.00 <span style="padding-left: 30px;"></span><img src="assets/images/reddot.png"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/cryptocurrencies/LTC.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Grid Load</p>
        <span class="text-16 font-weight-bold text-green">4.75 <span style="padding-left: 30px;"></span><img src="assets/images/up-green.png" width="10"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
     <img width="30" src="assets/images/cryptocurrencies/BTS.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Active Cut Off(Balance)</p>
        <span class="text-16 font-weight-bold text-red">No(10.00) <span style="padding-left: 30px;"></span><img src="assets/images/Down_red_arrow.png" width="10"></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img width="30" src="assets/images/cryptocurrencies/CNX.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Flat Type(Unit)</p>
        <span class="text-16 font-weight-bold text-green"> 2BHK (kW) </span>
      </div>
    </mat-card>
  </div>-->

</div>

<!-- COIN ROW -->

<!--<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}">
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img class="avatar-md rounded-circle" src="assets/images/cryptocurrencies/BTC.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Bitcoin</p>
        <span class="text-18 font-weight-bold text-green">$254 <span class="material-icons mat-icon-18">arrow_drop_up</span></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img class="avatar-md rounded-circle" src="assets/images/cryptocurrencies/ETH.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Ethereum</p>
        <span class="text-18 font-weight-bold text-red">$64 <span class="material-icons mat-icon-18">arrow_drop_down</span></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img class="avatar-md rounded-circle" src="assets/images/cryptocurrencies/LTC.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">Litecoin</p>
        <span class="text-18 font-weight-bold text-green">$45 <span class="material-icons mat-icon-18">arrow_drop_up</span></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img class="avatar-md rounded-circle" src="assets/images/cryptocurrencies/BTS.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">BTS</p>
        <span class="text-18 font-weight-bold text-red">$10 <span class="material-icons mat-icon-18">arrow_drop_down</span></span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" >
    <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
      <img class="avatar-md rounded-circle" src="assets/images/cryptocurrencies/CNX.png" alt="">
      <span style="width: 20px"></span>
      <div>
        <p class="m-0 text-14 text-muted line-height-1">CNX</p>
        <span class="text-18 font-weight-bold text-green">$80 <span class="material-icons mat-icon-18">arrow_drop_up</span></span>
      </div>
    </mat-card>
  </div>
</div>
/ COIN ROW -->

<!-- Table row -->
<!--<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'800ms',scale:'.9'}}">
  <div fxFlex="100" fxFlex.gt-sm="66.67">
      <mat-card class="p-0 ">
          <h6 class="pl-1 pt-1 m-0 ">Active Trades</h6>
          <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="activeTrades"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="'auto'">
          
          <ngx-datatable-column name="Currency" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <img [src]="row.icon" alt="" class="avatar-xs mr-05">
                  {{ row?.currency }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Balance" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.balance}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Buying Rate" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.buyingRate}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Current Rate" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.currentRate}}
                  </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-stroked-button color="primary">Close</button>
                  </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>    
      </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="33.33">
      <mat-card class="p-0 ">
          <h6 class="ml-1 mt-1">Trending Currencies</h6>
          <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="trendingCurrencies"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="'auto'">
          
          <ngx-datatable-column name="Currency" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.currency }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Balance" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.rate}}
            </ng-template>
          </ngx-datatable-column>
          
          <ngx-datatable-column name="Action" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-stroked-button color="warn">Buy</button>
                  </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>    
      </mat-card>
  </div>

</div>-->