<!-- First row -->
<div fxLayout="row wrap" *ngIf ="headerCount">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
    <mat-card style="background-image:linear-gradient(to right, rgb(20,183,216) ,rgb(38,207,204));">
      <mat-card-title fxLayoutAlign="start center">
        <small style="color: white; font-size: 15px;">Total Flats</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="primary" 
        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 style="color: white; font-size: 15px;">{{headerCount.flat_count}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card style="background-image:linear-gradient(to right,#fa646e, #fc9da3)">
      <mat-card-title>
        <small style="color: white; font-size: 15px;">Recharge</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="accent" 
        selected="true"><mat-icon>trending_up</mat-icon>10%</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 style="color: white; font-size: 15px;">{{headerCount.Recharge}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card style="background-image:linear-gradient(to right,#f79d60, #f7c29e)">
      <mat-card-title>
        <small style="color: white; font-size: 15px;">Daily Consumption</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="accent" 
        selected="true"><mat-icon>trending_up</mat-icon>9%</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 style="color: white; font-size: 15px;">{{headerCount.daily_consumption}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card style="background-image:linear-gradient(to right, rgba(118,138,146), rgba(169,182,186))">
      <mat-card-title>
        <small style="color: white; font-size: 15px; border: gray;">Monthly Consumption</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="warn" 
        selected="true"><mat-icon>trending_down</mat-icon>2%</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 style="color: white; font-size: 15px;">{{headerCount.monthly_consumption}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--/ End first row -->

<!-- 2nd, 3rd row -->
<div fxLayout="row wrap"  [@animate]="{value:'*',params:{y:'25px',delay:'300ms'}}">
    <div
      fxFlex="100"
      fxFlex.gt-sm="100"
      fxFlex.sm="100"
      [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }"
    >
      <mat-card class="p-0 "  fxFlex="100">
        <mat-tab-group  fxFlex="100">
          <mat-tab label="Water Consumption" style = "color:rgb(89, 177, 250);" style="width: 100%"  fxFlex="100">
             <highcharts-chart
              [Highcharts] = "highcharts" 
              [options] = "WaterConsumptionOption" 
             [callbackFunction]="watercomsumption" [(update)]="waterupdateFlag"
              [oneToOne]="true" 
              style="width: 1200px; height: 350px; display: block;">
            </highcharts-chart> 
          </mat-tab>
          <mat-tab label="DG/Grid Consumption">
               <highcharts-chart
                [Highcharts] = "highcharts" 
                [options] = "linechartOptions"  [callbackFunction]="dgGridcomsumption"
                 [(update)]="dgFuelGridupdateFlag"
                [oneToOne]="true"  
                style="width: 1200px; height: 350px; display: block;">
              </highcharts-chart> 
         </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

    <!-- Donut chart -->
    <!-- <div
      fxFlex="100"
      fxFlex.gt-sm="33.33"
      fxFlex.sm="50"
      [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }"
    >
      <mat-card class="p-0 ">
          <mat-card-title class="">
              <div class="card-title-text" style="height:20px; line-height: 4px; margin-top: 10px;">
                  <span style="color:rgb(89, 177, 250); font-weight: bold; border: 1px black;">Air Quality Status</span>
                  <span fxFlex></span>
              </div>
              </mat-card-title>
              <mat-divider></mat-divider>
              <div style="margin-left: 10px; padding-top: 10px;"><span fxflex></span>
                <p style="margin-left: 5px;"><b>Noida</b>(Uttar Pradesh)    (2020-01-09 05:19:45)</p>
                <table>
                  <tr><td style="color:rgb(89, 177, 250)"><b>Weather :</b></td>
                    <td><img src="assets/images/sunn.png" width="25" style="margin-left: 10px;"></td>
                      <td><b> 14 ^C</b></td>
                      <td><img src="assets/images/water.png" width="10" style="margin-left: 18px;">
                        <b> 66%</b></td>
                        <td><img src="assets/images/uv.png" width="20"  style="margin-left: 18px;"></td>
                          <td><b> 2 of 11</b></td>
                  </tr>
                </table>
                  <table><tr>
                    <tr><td style="font-weight: bold;">PM 2.5</td>
                      <td style="font-weight: bold; padding-left: 10px;">PM 10</td>
                      <td style="font-weight: bold;  padding-left: 10px;">NO2</td>
                      <td style="font-weight: bold;  padding-left: 10px;">O3</td>
                  </tr>
                  <tr><td style="font-size: 13px;"><b>106</b> ug/m^3</td>
                      <td style="font-size: 13px; padding-left: 10px;"><b>158</b> ug/m^3</td>
                      <td style="font-size: 13px; padding-left: 10px;"><b>32</b> ug/m^3</td>
                      <td style="font-size: 13px; padding-left: 10px;"><b>22</b> ug/m^3</td>
                  </tr>
                  <tr><td>
                    <mat-progress-bar
                    class=""
                    color="accent"
                    mode="determinate"
                    [value]="70"
                    class="rounded"
                    style="height: 6px"
                  >
                  </mat-progress-bar>
                </td>
                  <td style="padding-left: 10px;"><mat-progress-bar
                    color="warn"
                    mode="determinate"
                    [value]="20"
                    class="rounded"
                    style="height: 6px"
                  >
                  </mat-progress-bar></td>
                  <td style="padding-left: 10px;"><mat-progress-bar
                    class=""
                    color="primary"
                    mode="determinate"
                    [value]="70"
                    class="rounded"
                    style="height: 6px"
                  >
                  </mat-progress-bar></td>
                  <td style="padding-left: 10px;"><mat-progress-bar
                    color="warn"
                    mode="determinate"
                    [value]="20"
                    class="rounded"
                    style="height: 6px"
                  >
                  </mat-progress-bar></td>
               </tr>
            </table>
                <div style="align-content: center; margin-left: 25px;">
                <highcharts-chart
                [Highcharts] = "highcharts" 
                [options] = "airChartOptions" 
                style = "height: 155px; width: 300px; display: flex;">
                </highcharts-chart></div>
               
        </div>
      </mat-card>
    </div> -->
  <!--/ End donut chart -->
  <!--/ End 2nd row -->
    <!--/ End tab -->

    <div fxLayout="row wrap"  [@animate]="{value:'*',params:{y:'25px',delay:'300ms'}}">
      <div fxFlex="33.33">
        <mat-card class="p-0" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
          <mat-card-title class="">
          <div class="card-title-text" style="height:20px; line-height: 4px;  margin-top: 10px;">
              <span fxFlex style="color:rgb(89, 177, 250); font-weight: bold;">AMR Dashboard</span>
          </div>
        </mat-card-title>
         <div style="align-content: center; margin-left: 30px;">
            <highcharts-chart
            [Highcharts] = "highcharts" 
             [options] = "amrChartOptions"  [callbackFunction]="amrGridcomsumption"
            [(update)]="amrGridupdateFlag"
           [oneToOne]="true" 
            style = "height: 280px; width: 100%; display: flex;">
            </highcharts-chart>
        </div>
      </mat-card>
      </div>
      
      
  <div fxFlex="33.33">
    <mat-card class="p-0" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card-title class="">
      <div class="card-title-text" style="height:20px; line-height: 4px;  margin-top: 10px;">
          <span fxFlex style="color:rgb(89, 177, 250); font-weight: bold;">Current Load Status</span>
      </div>
    </mat-card-title>
    
    <div style="align-content: center; margin-left: 30px;">
          <highcharts-chart
          [Highcharts] = "highcharts" 
          [options] = "currentLoadChartOptions"  [callbackFunction]="currentLoadGridcomsumption"
          [(update)]="currentLoadGridupdateFlag"
         [oneToOne]="true" 
          style = "height: 280px; width: 100%; display: flex;">
       </highcharts-chart>
   
    </div>
  </mat-card>
  </div>
  <div fxFlex="33.33">
    <mat-card class="p-0" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card-title class="">
      <div class="card-title-text" style="height:20px; line-height: 4px; margin-top: 10px;">
          <span style="color:rgb(89, 177, 250); font-weight: bold;">DG Fuel Level</span>
      </div>
    </mat-card-title>
    
      <div style="align-content: center; margin-left: 30px;">
       <highcharts-chart
          [Highcharts] = "highcharts" 

          [options] = "dgFuelchartOptions"  [callbackFunction]="dgFuelGridcomsumption"
          [(update)]="dgFuelGridupdateFlag"
         [oneToOne]="true" 
          style = "height: 280px; width: 70%; display: flex;"
          >
       </highcharts-chart></div>
      
  </mat-card>
  </div>
    

  <!-- 3rd row, 1st column -->
  <div
    fxFlex="100"
    fxFlex.gt-sm="33.33"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '800ms' } }"
  >
    <mat-card
      class="p-0"
    >
      <mat-card-title class="mb-1">
        <div class="card-title-text">
          <span class="font-weight-normal" style = "color:rgb(89, 177, 250); font-weight: bold;">Meter Status</span>

          <span fxFlex></span>
          <button
            class="card-control"
            mat-icon-button
            [matMenuTriggerFor]="menu2"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Campaign Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>do_not_disturb</mat-icon>
              <span>Disable All Campaigns</span>
            </button>
            <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Remove panel</span>
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content *ngIf ="meterStatusData">
        <div class="mb-1">
          <p class="m-0 text-13">
            Total Meter <span class="text-muted">|{{meterStatusData.total_meter}}| 100%</span>
          </p>
          <mat-progress-bar
            class=""
            color="accent"
            mode="determinate"
            [value]="150"
            class="rounded"
            style="height: 6px"
          >
          </mat-progress-bar>
        </div>
        <div class="mb-1">
          <p class="m-0">
            Power Cut <span class="text-muted">| {{meterStatusData.power_cut}} | {{(meterStatusData.power_cut /meterStatusData.total_meter) * 100  | number:'1.0-0'}}%</span>
          </p>
          <mat-progress-bar
            color="warn"
            mode="determinate"
            [value]="(meterStatusData.power_cut /meterStatusData.total_meter) * 100"
            class="rounded"
            style="height: 6px"
          >
          </mat-progress-bar>
        </div>
        <div class="mb-1">
          <p class="m-0 text-13">
            Power Restore <span class="text-muted">| {{meterStatusData.power_restore}} | {{(meterStatusData.power_restore /meterStatusData.total_meter) * 100 | number:'1.0-0'}}%</span>
          </p>
          <mat-progress-bar
            class=""
            color="primary"
            mode="determinate"
            [value]="(meterStatusData.power_restore /meterStatusData.total_meter) * 100"
            class="rounded"
            style="height: 6px"
          >
          </mat-progress-bar>
        </div>
        
        <!--<div class="">
          <p class="m-0 text-13">
            Tower 4 <span class="text-muted">| 4.8 | 40%</span>
          </p>
          <mat-progress-bar
            class=""
            color="warn"
            mode="determinate"
            [value]="40"
            class="rounded"
            style="height: 6px"
          >
          </mat-progress-bar>
        </div>-->
      </mat-card-content>
    </mat-card>
  </div>
  <!--/ End 3rd row, 1st column -->

  <!-- 3rd row, 2nd column -->
  <div
    fxFlex="100"
    fxFlex.gt-sm="66.67"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '1000ms' } }"
  >
    <div fxLayout="row wrap">
      <div fxFlex="100"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
          <div fxLayout="row wrap">
            <div fxFlex="40" class="p-1">
              <p class="" style = "color:rgb(89, 177, 250); font-weight: bold;">Recharge Status</p>
              <p class="text-24 text-green font-weight-bold mb-0">
                27% <span class="material-icons">arrow_drop_up</span>
              </p>
              <p class="text-muted m-0">This Week</p>
            </div>
            <div fxFlex="60">
              <div
                echarts
                [options]="weekChartGrowthChart"
                (chartInit)="weekChartInit($event)"
                [autoResize]="true"
                style="height: 220px; right: -1px"
              ></div>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="100"
      fxFlex.gt-sm="50">
        
        <mat-card class="">
          <span class="font-weight-normal" style = "color:rgb(89, 177, 250); font-size: 15px; font-weight: bold;">Low Balance Alert</span>
          <div
            echarts
            [options]="dailyTrafficChartBar"
            [autoResize]="true"
            (chartInit)="lowBalanceInit($event)"
            style="height: 170px;right: -1px"
          ></div>
        </mat-card>
      </div>
    </div>
  </div>
        <div
        fxFlex="100"
        fxFlex.gt-sm="33.33"
        fxFlex.sm="50"
        [@animate]="{ value: '*', params: { y: '50px', delay: '1000ms' } }" *ngFor ="let list of towerList | slice:current -3: current"
      >
    <mat-card class="p-0" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
        <mat-card-title class="">
        <div class="card-title-text" style="height:20px; line-height: 4px; background-image:linear-gradient(to right, rgba(118,138,146), rgba(169,182,186))">
            <span style="color:#fff; ">{{list.tower}}</span>
            <span fxFlex></span>
        </div>
        </mat-card-title>
        </mat-card>

      <mat-table [dataSource]="list.sensor" matSort>
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 50px;">
            Device Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="id" style="padding-right: 50px;">
            {{ row.name }}
          </mat-cell>
        </ng-container>

       <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 30px;">
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="color" style="padding-right: 30px;">
              <ng-template [ngIf]="row.state">
                  <div> 
                   <img src="assets/images/greendot.png" *ngIf ="row.state =='Y'">
                   <img src="assets/images/reddot.png" *ngIf ="row.state =='N'">

                  </div>
                 </ng-template>
         </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="['country','Status']"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: ['country','Status']"
        >
        </mat-row>
      </mat-table>
  </div>

   

     

  <div
  fxFlex="100"
  fxFlex.gt-sm="100"
  fxFlex.sm="100"
  [@animate]="{ value: '*', params: { y: '50px', delay: '1000ms' } }"
>
<button style="font-size: 37px;"
class="card-control" [disabled] = 'current-3 == 0'
mat-icon-button (click) ="current = current - 3 "
 >
<mat-icon>arrow_back</mat-icon>
</button>     <button
class="card-control"
mat-icon-button style="font-size: 37px;" [disabled] = 'current >= towerList.length '  (click) ="current = current +3 "
 >
<mat-icon>arrow_forward</mat-icon>
</button>
</div>
</div>
  <!--/ End 3rd row, 2nd column -->
</div>
